.navbarContainer {
  border-bottom: 5px solid white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navHeading {
  text-align: center;
  flex-grow: 1;
  font-weight: 500;
}
.reactIcon {
  text-align: center;
  size: large;
}
