.TodoApp {
  color: black;
  /* font-size: 35px; */
}
table{
  width: 70%;

}
.tableDarkMode {
  color: beige;
  border: 1px solid white;
}
td {
  border: 1px solid black;
}
tr {
  margin-bottom: 10px;
}
.butt {
  width: 100px;
}
.eachItem {
  display: flex;
  color: black;
  justify-content: center;
}
.eachItem button {
  background-color: black;
  color: white;
  width: 60px;
  height: 20px;
  justify-items: center;
  justify-content: center;
}
.eachItem button:hover{
  width: 70px;
  height: 25px;
  cursor: pointer;
}
.appContainer {
  text-align: center;
}
.addItems{
  margin-bottom: 4%;
}
.addItems > input {
  padding: 10px;
  width: 40%;
  font-size: large;
  border-radius: 20%;
  margin-right: 2%;
}
.addItems > button {
  padding: 10px;
  width: 15%;
  border-radius: 20%;
  justify-content: space-between;
  margin-right: 2%;
}
.show {
  margin: auto;
  text-align: center;
}
.tdWithCheckbox{
  display: flex;
}
.tdWithCheckbox input{
  margin: 2%;
  width: 20px;
  cursor: pointer;
}