.body{
  height: 100vh;
  width: 100%;
}
.darkMode{
  background-color: black;
  color: beige;
}
.lightMode{
  background: url('../public/assets/lightMode.png') no-repeat fixed center;
  background-size: cover;
  color: black;
}
